<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Finanzas Personales</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Mis Finanzas Personales</h1>
    </header>

    <main>
        <section id="presentacion">
            <h2>Bienvenido a Mis Finanzas Personales</h2>
            <p>Administra tus finanzas de forma sencilla y efectiva.</p>

            <div class="botones">
                <a href="login.html">Iniciar Sesión</a>
                <a href="register.html">Registrarse</a>
              </div>
              
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>