<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Finanzas Personales - Registro</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Mis Finanzas Personales</h1>
  </header>

  <main>
    <section id="registro">
      <h2>Registrarse</h2>
      <form id="formulario-registro">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <label for="dni">Dni:</label>
        <input type="text" id="dni" name="dni" required>
        <label for="correo-electronico">Correo electrónico:</label>
        <input type="email" id="correo-electronico" name="correo-electronico" required>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <a href="login.html">Ya tienes una cuenta? </a>
        <a href="Home.html">Volver</a>
        <button type="submit">Registrarse</button>
      </form>
    </section>
  </main>

  <script src="script.js"></script>
</body>
</html>